/* Overlay Styles */
.mobileMenuOverlay {
    background-color: rgba(18, 20, 23, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 250ms ease-in-out;
    z-index: 998;
  }
  
  .mobileMenuOverlay.isOpen {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* Menu Styles */
  .mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 20px;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--green);
    width: 240px;
    text-align: center;
  }
  
  .mobileMenu.isOpen {
    transform: translateX(0);
  }
  
  @media screen and (min-width: 768px) {
    .mobileMenu {
      width: 384px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .mobileMenu,
    .mobileMenuOverlay {
      display: none;
    }
  }
  
  /* Close Button */
  .mobileMenuClose {
    display: flex;
    justify-content: flex-end;
  }
  
  .mobileMenuClose button {
    background: transparent;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms ease-in-out;
  }
  
  .mobileMenuClose button,
  .mobileMenuClose button svg {
    width: 32px;
    height: 32px;
  }
  
  .mobileMenuClose button:hover {
    opacity: 0.7;
  }
  
  @media screen and (min-width: 768px) {
    .mobileMenuClose button,
    .mobileMenuClose button svg {
      width: 40px;
      height: 40px;
    }
  }
  
  .mobileMenuClose button svg {
    stroke: var(--white);
  }
  
  /* Nav List */
  .mobileMenuList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .mobileMenuList a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
  }
  
  .mobileMenuList a:hover {
    text-decoration: underline;
  }
  
  .mobileMenuList li {
    margin-bottom: 20px;
  }
  
  /* Social Links */
  .mobileMenuSocials {
    display: flex;
    gap: 12px;
    justify-content: center;
  }
  
  .mobileMenuSocials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: opacity 250ms ease-in-out;
  }
  
  .mobileMenuSocials a:hover {
    opacity: 0.7;
  }
  
  .mobileMenuSocials a svg {
    fill: var(--white);
  }
  