.section {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  gap: 24px;
  width: 100%;
}

.sectiontitle {
  position: relative;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  margin-bottom: 16px;
  text-align: center;
}

.sectiontitle span {
  position: relative;
}

.sectiontitle span::after {
  content: '';
  position: absolute;
  left: 0;
  top: calc(100% - 14px);
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background-color: var(--lighter-green);
  z-index: -1;
}

.sectionSubtitle {
  font-size: 18px;
  line-height: 1.7;
  opacity: 0.8;
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
}

.sectionList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 32px;
}

.sectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  border: 1px solid var(--iris);
  border-radius: 16px;
  transition: background-color 250ms var(--common-transition);
}

.sectionItem:hover {
  background-color: var(--iris);
}

.sectionItemTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
  letter-spacing: -0.4px;
}

.lessonItemPrice {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.37;
  margin-bottom: 40px;
}

.lessonItemText {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: var(--black);
  opacity: 0.5;
  text-align: center;
}

.lessonItemPrice,
.sectionItemTitle {
  transition: 250ms var(--common-transition);
  transition-property: opacity, color;
  text-align: center;
}

.lessonItemText {
  transition: 250ms var(--common-transition);
  transition-property: opacity, color;
}

.sectionItem:hover .lessonItemPrice,
.sectionItem:hover .sectionItemTitle {
  color: var(--white);
}

.sectionItem:hover .lessonItemText {
  color: var(--white);
  opacity: 0.7;
}

.sectionItem:hover .lessonButton {
  background-color: var(--white);
  color: var(--iris);
}

.lessonButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  height: 52px;
  border: 1px solid var(--iris);
  transition: 250ms var(--common-transition);
  transition-property: background-color, border-color;
}

.lessonButton.active {
  background-color: transparent;
  border: 1px solid var(--white);
  transition: 250ms var(--common-transition);
  transition-property: color, background-color;
}

.lessonButton.active:hover,
.lessonButton.active:focus {
  background-color: var(--white);
  color: var(--iris);
}

.activeItem {
  background-color: var(--iris);
  color: var(--white);
}

.activeItem .lessonItemText {
  color: var(--white);
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .sectionList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .sectionItem {
    flex-basis: calc((100% - 32px) / 2);
    padding: 32px 16px;
  }

  .lessonItemPrice {
    margin-bottom: 32px;
  }

  .lessonItemText {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
    color: var(--black);
    opacity: 0.5;
    text-align: center;
  }

  .lessonButton {
    height: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .lessonItemPrice {
    margin-bottom: 16px;
  }

  .sectionItem {
    flex-basis: calc((100% - 64px) / 3);
  }
}
