@media (min-width: 1440px) {
  .heroSection {
  background-image: url(../img/strøm_app/block_mob@1x.jpg),
    linear-gradient(95.97deg, rgba(0, 0, 0, 0.4) 36.36%, rgba(0, 0, 0, 0) 51.43%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}
}

.heroSection {
    background-image: url(../img/strøm_app/block_mob@2x.jpg),
      linear-gradient(95.97deg, rgba(0, 0, 0, 0.4) 36.36%, rgba(0, 0, 0, 0) 51.43%);
}

.container {
  gap: 24px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 100%;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.heroContent ul {
  list-style-type: inherit;
  padding-left: 15px;
  text-align: left;
}

.heroContent ul li {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}

@media (min-width: 768px) {
  .heroContent{
    width: 100%;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .heroContent {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

.heroText {
  font-family: inherit;
  color: var(--black);
  font-size: 48px;
  line-height: 1.16;
  max-width: 295px;
  text-align: left;
}

@media (min-width: 1440px) {
  .heroText {
  font-size: 60px;
  line-height: 1.16;
  max-width: 564px;
  text-align: left;
}
}

.heroKraft {
  color: var(--iris);
}

.heroButton {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  max-width: 295px;
  width: 100%;
}

@media (min-width: 1440px) {
.heroButton {
  margin-top: 32px;
  max-width: 306px;
}
}

.Button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 12px;
  padding: 14px 32px;
  border: none;
  transition: 250ms var(--common-transition);
  transition-property: background-color, color;
}

.button:hover,
.button:focus {
  background-color: var(--hover-iris);
}

.heroSvg {
  width: 20px;
  height: 20px;
}

.heroUse {
  fill: var(--iris);
}

.heroCheckmark {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.heroCheckmarkContainer {
  background-color: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 250ms var(--common-transition);
  transition-property: background-color, fill;
}

@media (min-width: 1440px) {
.heroCheckmark {
  margin-top: 50px;
}

.heroCheckmarkContainer {
  width: 48px;
  height: 48px;
}
}

.heroCheckmarkContainer:hover,
.heroCheckmarkContainer:focus {
  background-color: var(--iris);
}

.heroCheckmarkContainer:hover .heroUse,
.heroCheckmarkContainer:focus .heroUse {
  fill: var(--white);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  opacity: 0;
  transform: translateY(20px);
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}


