.headersection {
  margin-bottom: 8px;
  justify-items: center;
}

.headercontainer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  flex-direction: row;
  gap: 24px;
}

.mobilemenubtnicon {
  stroke: var(--black);
}

.burgerbtn {
  padding: 0;
  background-color: transparent;
  margin-left: auto;
  line-height: 0;
  border: none;
  color: currentColor;
}

.tablet,
.mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tablet {
    display: block;
  }

  .headersection {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .pagenavlist {
    display: none;
  }

  .pageheadersocials {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .headercontainer {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .headercontainer {
    width: 100%;
  }

  .headersection {
    margin-bottom: 16px;
  }

  .burgerbtn {
    display: none;
  }

  .pagenavigation {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .logo {
    display: flex;
    width: 200px;
    height: auto;
  }

  .pagenavlist {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
  }

  .pageheadersocials {
    margin-left: auto;
  }

  .pageheadersocialslist {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .pagenavlistlink {
    color: var(--black);
    font-weight: 600;
    line-height: 1.29;
    position: relative;
    font-size: 16px;
  }

  .pageheadersocialslistitems {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pageheadersocialslink {
    padding: 7px;
    fill: var(--black);
    line-height: 0;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 10px;
    transition: 250ms var(--common-transition);
    transition-property: fill, border-color;
  }

  .pageheadersocialslink:hover,
  .pageheadersocialslink:focus {
    fill: var(--iris);
    border-color: rgba(77, 194, 116, 0.1);
  }
}

.socialmain {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  align-content: center;
  list-style: none;
}

.socialwrapper {
  width: 40px;
  height: 40px;
}

.socialwrapper a {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--iris);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.socialwrapper a:hover,
.socialwrapper a:focus {
  background-color: var(--black);
  border-color: var(--black);
  transition-property: background-color, color;
  transition: var(--trns-fast);
  cursor: pointer;
}
