<!-- Start bredbånd section -->
<section id="bredbånd" class="bredbånd-section">
  <div class="container bredbånd-content">
    <h1 class="bredbånd-text animated">Bredbånd</h1>
    <br />
    <h2>
      Nord-Salten Kraft AS tilbyr nå,<br />
      i samarbeid med Trollfjord Bredbånd AS<br />
      lynraskt internett hjem til deg – med<br />
      symmetriske hastigheter for alle<br />
      behov: 70, 100, 250, 500, 1000 Mbps!
    </h2>
    <h3>
      Med bredbånd fra Trollfjord Bredbånd får du fullt utbytte av internett.
    </h3>
    <a href="#application-form" class="button bredbånd-button animated"
      >Bestill nå</a
    >
  </div>
  <div>
    <img
      class="bredbånd-image"
      srcset="../img/bredbånd/network.jpg 1x, ../img/bredbånd/network@2x.jpg 2x"
      src="../img/bredbånd/network.jpg"
      alt="network"
    />
  </div>
</section>
<!-- End bredbånd section -->
