<!-- Start bredbånd section -->
<section id="bredbånd" class="bredbånd-section">
  <div class="container bredbånd-content">
    <h2 class="section-title">Bredbånd</h2>
    <p class="section-subtitle subtitle-bredbånd">
      Nord-Salten Kraft AS tilbyr nå, i samarbeid med Trollfjord Bredbånd AS
      lynraskt internett hjem til deg med symmetriske hastigheter for alle
      behov: 70, 100, 250, 500, 1000 Mbps!
    </p>
    <ul class="bredbånd-list">
      <li class="bredbånd-item">
        <img
        class="bredbånd-image"
        srcset="../img/bredbånd/network.jpg 1x, ../img/bredbånd/network@2x.jpg 2x"
        src="../img/bredbånd/network.jpg"
        alt="network"
      />
        <div class="bredbånd-text-box">
          <h3 class="bredbånd-item-title">Maria</h3>
          <p class="bredbånd-item-text">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>
      <li class="bredbånd-item">
        <img
          srcset="
            ./img/teachers/img-2@1x.jpg 1x,
            ./img/teachers/img-2@2x.jpg 2x
          "
          src="./img/teachers/img-2@1x.jpg"
          alt="Artem"
          class="bredbånd-img"
          width="150"
          height="150"
          loading="lazy"
        />
        <div class="bredbånd-text-box">
          <h3 class="bredbånd-item-title">Artem</h3>
          <p class="bredbånd-item-text">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>
      <li class="bredbånd-item">
        <img
          srcset="
            ./img/teachers/img-3@1x.jpg 1x,
            ./img/teachers/img-3@2x.jpg 2x
          "
          src="./img/teachers/img-3@1x.jpg"
          alt="Ilona"
          class="bredbånd-img"
          width="150"
          height="150"
          loading="lazy"
        />
        <div class="bredbånd-text-box">
          <h3 class="bredbånd-item-title">Ilona</h3>
          <p class="bredbånd-item-text">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>
      <li class="bredbånd-item">
        <img
          srcset="
            ./img/teachers/img-4@1x.jpg 1x,
            ./img/teachers/img-4@2x.jpg 2x
          "
          src="./img/teachers/img-4@1x.jpg"
          alt="Volodymyr"
          class="bredbånd-img"
          width="150"
          height="150"
          loading="lazy"
        />
        <div class="bredbånd-text-box">
          <h3 class="bredbånd-item-title">Volodymyr</h3>
          <p class="bredbånd-item-text">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
    <a href="#application-form" class="button bredbånd-button animated"
      >Bestill nå</a
    >
  </div>
</section>
<!-- End bredbånd section -->
