<!-- Start bredbånd section -->
<section id="bredbånd" class="bredbånd-section">
  <div class="container bredbånd-content">
    <h2 class="section-title">Bredbånd</h2>
    <p class="section-subtitle subtitle-bredbånd">
      Nord-Salten Kraft AS tilbyr nå, i samarbeid med Trollfjord Bredbånd AS
      lynraskt internett hjem til deg med symmetriske hastigheter for alle
      behov: 70, 100, 250, 500, 1000 Mbps!
    </p>
    <ul class="bredbånd-list">
      <li class="bredbånd-item">
        <img
          srcset="
            ./img/bredbånd/img-1@1x.jpg 1x,
            ./img/bredbånd/img-1@2x.jpg 2x
          "
          src="./img/bredbånd/img-1@1x.jpg"
          alt="Internett"
          class="bredbånd-img"
          width="150"
          height="150"
          loading="lazy"
        />
        <div class="bredbånd-text-box">
          <h3 class="bredbånd-item-title">Internett</h3>
          <p class="bredbånd-item-text">
            Med bredbånd fra Trollfjord Bredbånd får du fullt utbytte av internett. Stabil linje og valgfrie hastigheter. Vi har hastigheter for alle behov.
          </p>
        </div>
      </li>
      <li class="bredbånd-item">
        <img
          srcset="
            ./img/bredbånd/img-2@1x.jpg 1x,
            ./img/bredbånd/img-2@2x.jpg 2x
          "
          src="./img/bredbånd/img-2@1x.jpg"
          alt="Digitaltv"
          class="bredbånd-img"
          width="150"
          height="150"
          loading="lazy"
        />
        <div class="bredbånd-text-box">
          <h3 class="bredbånd-item-title">Digital-TV</h3>
          <p class="bredbånd-item-text">
            Med digital-tv får du den ultimate seeropplevelsen. Krystallklare og stabile TV-bilder uansett vær og årstid. Stort kanalutvalg, valgfrihet.
          </p>
        </div>
      </li>
      <li class="bredbånd-item">
        <img
          srcset="
            ./img/bredbånd/img-3@1x.jpg 1x,
            ./img/bredbånd/img-3@2x.jpg 2x
          "
          src="./img/bredbånd/img-3@1x.jpg"
          alt="Telefoni"
          class="bredbånd-img"
          width="150"
          height="150"
          loading="lazy"
        />
        <div class="bredbånd-text-box">
          <h3 class="bredbånd-item-title">Telefoni</h3>
          <p class="bredbånd-item-text">
            Med IP-telefoni fra oss får du en lav, fast månedspris og rimelige samtalepriser. Enkel oppkobling og du trenger ikke bytte ut ditt telefonapparat.
          </p>
        </div>
      </li>
      <li class="bredbånd-item">
        <img
          srcset="
            ./img/bredbånd/img-4@1x.jpg 1x,
            ./img/bredbånd/img-4@2x.jpg 2x
          "
          src="./img/bredbånd/img-4@1x.jpg"
          alt="Kundeservice"
          class="bredbånd-img"
          width="150"
          height="150"
          loading="lazy"
        />
        <div class="bredbånd-text-box">
          <h3 class="bredbånd-item-title">Kundeservice</h3>
          <p class="bredbånd-item-text">
            Lurer du på noe? Vi hjelper deg 76 11 80 00
          </p>
        </div>
      </li>
    </ul>
    <a href="https://trollfjord.no/bredband/" target="_blank" class="button bredbånd-button animated" 
      >Bestill nå</a
    >
  </div>
</section>
<!-- End bredbånd section -->
