<!-- Start footer -->
<footer class="footer">
  <div class="container footer-container" id="footer">
    <div class="footer-blocks">
      <div class="footer-logo-adr-bl">
        <div class="footer-logo">
          <a href="#strøm_app">
            <img
              src="../img/header/logo-nordsaltenkraft-footer.png"
              class="logo"
              alt="Logo"
            />
          </a>
        </div>
        <div class="footer-minside">
          <a href="https://nordsaltenkraft.no/minside" target="_blank" class="button footer-button animated" 
          >Min side</a>
        </div>
        <div class="footer-adr" id="contact-us">
          <address class="footer-adress">
            <ul class="footer-adr-list">
              <li class="footer-adr-li">
                <p class="footer-adr-paragraphs">Telefon:</p>
                <a class="footer-adr" href="tel:+4775771000"
                  >75 77 10 00</a
                >
              </li>
              <li class="footer-adr-li">
                <p class="footer-adr-paragraphs">Adresse:</p>
                <a
                  class="footer-adr"
                  href="https://maps.app.goo.gl/rooJTdkXjDKZgist8"
                  target="_blank"
                  >Strandveien 2, 8276 Ulvsvåg</a
                >
              </li>
              <li class="footer-adr-li"></li>
                <p class="footer-adr-paragraphs">Organisasjonsnummer:</p>
                <p>Nord-Salten Kraft AS: 995 114 666</p>
              </li>
            </ul>
          </address>
        </div>
        <div class="footer-navigation">
        <nav class="footer-links">
          <ul class="footer-nav">
            <li class="footer-nav-li">
            <a
            href="#strømavtalen"
            class="footer-nav-link link-underlined"
            aria-label="link to section strømavtalen"
            >Bestill strøm</a>
        </li>
        <li class="footer-nav-li">
          <a
            href="#bredbånd"
            class="footer-nav-link link-underlined"
            aria-label="link to section bredbånd"
            >Bredbånd</a>
        </li>
        <li class="footer-nav-li"></li>
          <a
            href="#kraftproduksjon"
            class="footer-nav-link link-underlined"
            aria-label="link to section kraftproduksjon"
            >Kraftproduksjon</a>
        </li>
        <li class="footer-nav-li"></li>
          <a
            href="https://nordsaltenkraft.no/nyheter"
            target="_blank"
            class="footer-nav-link link-underlined"
            aria-label="link to section nyheter"
            >Nyheter</a>
        </li>
        <li class="footer-nav-li"></li>
          <a
            href="https://nordsaltenkraft.no/ledigstilling"
            target="_blank"
            class="footer-nav-link link-underlined"
            aria-label="link to section ledig stilling"
            >Ledig Stilling</a>
        </li>
        <li class="footer-nav-li">
          <a
            href="#application-form"
            class="footer-nav-link link-underlined"
            aria-label="link to section contact us"
            >Kontakt oss</a>
        </li>
          </ul>
        </nav>
      </div>
      </div>
      <div class="footer-social">
        <ul class="social-main">
          <li class="social-wrapper">
              <a href="#">
                  <svg height="16" width="16">
                      <use href="./img/icons.svg#icon-instagram"></use>
                  </svg>
              </a>
          </li>
          <li class="social-wrapper">
              <a href="#">
                  <svg height="16" width="16">
                      <use href="./img/icons.svg#icon-facebook"></use>
                  </svg>
              </a>
          </li>
          <li class="social-wrapper">
              <a href="#">
                  <svg height="16" width="16">
                      <use href="./img/icons.svg#icon-linkedin"></use>
                  </svg>
              </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-svg-line">
      <svg class="footer-line" width="1024" height="0">
        <use href="./img/icons.svg#icon-line"></use>
      </svg>
    </div>
    <div class="footer-agreements">
      <p class="footer-copy-paragraphs">
        ©2024 Nord-Salten Kraft Holding AS. Alle rettigheter forbeholdt
      </p>
      <ul class="footer-agreements-list">
        <li class="foter-policy">
          <a class="footer-policy-link" href="https://nordsaltenkraft.no/personvern" target="_blank">Om persovern</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- End footer -->
