<!-- Start header -->
<header class="header-section">
  <div class="container header-container">
    <nav class="page-navigation">
      <a href="#">
        <img
          src="../img/header/logo-nordsaltenkraft.jpg"
          class="logo"
          alt="Logo"
        />
      </a>
      <ul class="page-nav-list list">
        <li class="page-nav-list-item">
          <a
            href="#strømavtalen"
            class="page-nav-list-link link-underlined"
            aria-label="link to section strømavtalen"
            >Bestill strøm</a
          >
        </li>
        <li class="page-nav-list-item">
          <a
            href="#bredbånd"
            class="page-nav-list-link link-underlined"
            aria-label="link to section bredbånd"
            >Bredbånd</a
          >
        </li>
        <li class="page-nav-list-item"></li>
          <a
            href="#kraftproduksjon"
            class="page-nav-list-link link-underlined"
            aria-label="link to section kraftproduksjon"
            >Kraftproduksjon</a
          >
        </li>
        <li class="page-nav-list-item">
          <a
            href="#reviews"
            class="page-nav-list-link link-underlined"
            aria-label="link to section reviews"
            >Reviews</a
          >
        </li>
        <li class="page-nav-list-item">
          <a
            href="#application-form"
            class="page-nav-list-link link-underlined"
            aria-label="link to section contact us"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <ul class="social-main">
      <li class="social-wrapper">
          <a href="#">
              <svg height="16" width="16">
                  <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
          </a>
      </li>
      <li class="social-wrapper">
          <a href="#">
              <svg height="16" width="16">
                  <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
          </a>
      </li>
      <li class="social-wrapper">
          <a href="#">
              <svg height="16" width="16">
                  <use href="./img/icons.svg#icon-linkedin"></use>
              </svg>
          </a>
      </li>
  </ul>
  <button
      class="burger-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="open menu"
    >
      <svg class="mobile-menu-btn-icon mobile" width="32" height="23">
        <use href="./img/icons.svg#icon-nav"></use>
      </svg>
      <svg class="mobile-menu-btn-icon tablet" width="40" height="28">
        <use href="./img/icons.svg#icon-nav_bold"></use>
      </svg>
    </button>
  </div>
</header>
<!-- End header -->
