<!-- Start about us section -->
<section id="kraftproduksjon" class="section about-section">
  <div class="container">
    <h2 class="section-title">Kraftproduksjon</h2>
    <p class="section-subtitle">
      Nord-Salten Kraft har en sterk lokal forankring i Nord-Salten, med lokal produksjon og kompetanse, og lokalt hovedkontor. Vi er stolte av å produsere fornybar energi, og å spille en viktig samfunnsrolle i regionen.
    </p>
    <div class="about-holder">
      <ul class="about-list">
        <li class="about-item">
          <h3 class="about-text">Slunkajavrre kraftverk</h3>
          Ligger i Hamarøy kommune.<br>
          Anlegget ble satt i drift i 1983.</li>
        <li class="about-item">
          <h3 class="about-text">Rekvatn kraftverk</h3>
          Ligger i Hamarøy kommune.<br>
          Anlegget ble satt i drift i 1953.</li>
        <li class="about-item">
          <h3 class="about-text">Sagfossen kraftverk</h3>
          Ligger i Hamarøy kommune.<br> 
          Anlegget ble satt i drift i 1979.</li>
        <li class="about-item">
          <h3 class="about-text">Forsanvatn kraftverk</h3>
          Ligger i Steigen kommune.<br> 
          Anlegget ble satt i drift i 2013.</li>
        <li class="about-item">
          <h3 class="about-text">Forsanvatn minikraftverk</h3>
          Ligger i Steigen kommune.<br>
          Anlegget ble satt i drift i 2013.</li>
        <li class="about-item">
          <h3 class="about-text">Raukforsen kraftverk</h3>
          Ligger i Sørfold kommune.<br>
          Anlegget ble satt i drift i 2021.</li>
      </ul>
    </div>
  </div>
</section>
<!-- End about us section -->
