<!-- Start leave an application section-->
<section id="application-form" class="section leave-form">
  <div class="container">
    <h2 class="section-title section-app-title">
      Kundeservice kraftsalg
    </h2>
    <p class="section-subtitle subtitle-application-form">
      Vi hjelper deg med spørsmål vedrørende strømprodukter og tilhørende faktura, adresseforandring, melding av inn/utflytting, måleravlesing og så videre.
    </p>
    <div class="app-form-container">
      <div class="app-thumb">
        <div class="app-textbox">
          <h3 class="app-name">Telefon: 75 77 10 30</h3>
          <p class="app-desc">
            Åpningstid: kl 08.00 - 15.00<br>
            E-post: kundeservice@nordsaltenkraft.no<br>
            Du kan også benytte skjemaet ved siden.
          </p>
        </div>
      </div>
      <form class="application-form" name="reviews" autocomplete="on">
        <div class="form-wrapper">
          <label class="form-label" for="user-name"></label>
          <input
            class="form-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Navn"
            required
          />
        </div>
        <div class="form-wrapper">
          <label class="form-label" for="user-email"></label>
          <input
            class="form-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="E-post"
            pattern="^[\w\.-]+@[\w\.-]+\.\w+$"
            required
          />
        </div>
        <div class="form-wrapper">
          <label class="form-label" for="user-phone"></label>
          <input
            class="form-input"
            type="tel"
            name="user-phone"
            id="user-phone"
            placeholder="Telefon"
            pattern="^0\d{9}$"
            required
          />
        </div>
          <div class="form-wrapper">
            <label class="form-label" for="user-phone"></label>
            <input
              class="form-input"
              type="tel"
              name="user-phone"
              id="user-phone"
              placeholder="Kundenummer"
              pattern="^0\d{9}$"
              required
            />
        </div>
        <div class="form-comment-wrapper">
          <label class="form-label" for="user-comment"></label>
          <textarea
            class="form-textarea"
            name="user-comment"
            rows="5"
            placeholder="Din henvendelse"
            id="user-comment"
          ></textarea>
        </div>
        <button class="form-button button btn" type="submit">Send</button>
        <p class="agreement-text">
          By clicking on “Send” button, you agree to our
          <a
            class="form-agreement-link"
            href="#"
            target="_blank"
            rel="no-opener no-referrer"
            >Privacy Policy</a
          >, and&nbsp;allow&nbsp;Promodo to use this information for marketing
          purposes.
        </p>
      </form>
    </div>
  </div>
</section>
<!-- End leave an application section-->
