<!-- Start hero section -->
<section id="strøm_app" class="hero-section">
  <div class="container hero-content">
    <h1 class="hero-text animated">
      Strøm App -
      <span class="hero-kraft">MinKraft</span>
    </h1>
    <br />
    <h2>
      Last ned og få full kontroll over ditt forbruk.<br />
      Med vår brukervennlige app kan du enkelt:
    </h2>
    <ul>
      <li>Følge ditt daglige, månedlige og årlige strømforbruk</li>
      <li>Se estimert kostnad for inneværende måned</li>
      <li>Sjekke strømprisene i sanntid, time for time</li>
    </ul>
    <br />
    <h3>Hold deg oppdatert og optimaliser ditt strømforbruk med vår app!</h3>
    <a href="#application-form" class="button hero-button animated"
      >Les mer om appen</a
    >
    <div class="hero-checkmark">
      <a href="#footer" class="hero-checkmark-container animated">
        <svg class="hero-svg">
          <use
            class="hero-use"
            xlink:href="./img/icons.svg#icon-checkmark"
          ></use>
        </svg>
      </a>
    </div>
  </div>
</section>
<!-- End hero section -->
