.bredbånd-kraft {
  color: var(--iris);
}

.teachers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.teachers-item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.teachers-item-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--form-agreement-text);
  text-align: center;
}

.teachers-text-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 335px;
}

@media only screen and (max-width: 374px) {
  .teachers-text-box {
    width: 100%;
  }
}

.teachers-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .subtitle-teachers {
    max-width: 709px;
  }

  .teachers-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
    justify-content: center;
  }

  .teachers-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .teachers-text-box {
    width: 232px;
  }

  .teachers-item-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 1280px) {
  .teachers-list {
    flex-wrap: nowrap;
    gap: 32px;
    justify-content: normal;
  }
}

.teachers-img {
  border-radius: 50%;
}
/* .teachers-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
} */



/* For mobile devices */
@media (max-width: 768px) {
.bredbånd-section {
  background-color: var(--white);
  max-width: 335px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.bredbånd-content {
  flex-direction: column;
  padding: 15px;
  align-items: center;
}

.bredbånd-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  max-width: 295px;
  width: 100%;
}

.bredbånd-content-image {
  max-width: 100%;
  padding: 15px;
}

.bredbånd-image {
  border-radius: 400px 400px 0px 0px;
  width: 100%;
  height: auto;
}


}

/* For tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .bredbånd-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    max-width: 704px;
    padding-bottom: 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }

   .bredbånd-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
  }

  .bredbånd-button {
    margin-top: 32px;
    max-width: 306px;
  }

  .bredbånd-content-image {
    flex: 1;
    max-width: 100%;
    padding: 15px;
    text-align: right;
  }

  .bredbånd-image {
    border-radius: 400px 400px 0px 0px;
    width: 100%;
    height: auto;
    }
}

/* For desktop */
@media (min-width: 1280px) {
  .bredbånd-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    background-repeat: no-repeat;
    padding-bottom: 50px;
    max-width: 1152px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .bredbånd-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .bredbånd-button {
    margin-top: 32px;
    max-width: 306px;
  }

  .bredbånd-content-image {
    flex: 1;
    max-width: 250px;
    display: flex;
    justify-content: center;
    padding: 15px;
    text-align: right;
  }

  .bredbånd-image {
  border-radius: 400px 400px 0px 0px;
  width: 100%;
  height: auto;
  }
}