.footer {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  background: linear-gradient(to bottom, white, #0070b8);
}

@media (min-width: 1440px) {
  .footer {
  display: flex;
  flex-direction: row;
  }
}

.container{
  gap: 15px;
}

.footerBlocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.footerLogoAdrBl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

@media (min-width: 1440px) {
  .footerLogoAdrBl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  }
}

.logo {
  display: flex;
  width: 200px;
  height: auto;
}

.footerButton {
  display: flex;
  justify-content: center;
  max-width: 295px;
  width: 100%;
}

@media (min-width: 1440px) {
.footerButton {
  max-width: 306px;
}
}

.button {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.7;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 12px;
  padding: 14px 32px;
  border: none;
  transition: 250ms var(--common-transition);
  transition-property: background-color, color;
}

.button:hover,
.button:focus {
  background-color: var(--hover-iris);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  opacity: 0;
  transform: translateY(20px);
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.footerAdrList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerAdrParagraphs {
  color: var(--iris);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28571;
  opacity: 0.9;
}

.footerNav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media (min-width: 1440px) {
  .footerNav {
  display: flex;
  flex-direction: column;
}
}

.footerNavLi{
  width: 45%;
  text-align: center;
}

@media (min-width: 1440px) {
  .footerNavLi {
    width: 100%;
  }
}

.footerNavLink {
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28571;
  text-decoration: none;
  transition: color 250ms var(--common-transition);
}

@media (min-width: 1440px) {
  .footerNavLink {
  color: var(--iris);
  }
}

.socialmain {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  align-content: center;
  list-style: none;
}

.socialwrapper {
  width: 40px;
  height: 40px;
}

.socialwrapper a {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--iris);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.socialwrapper a:hover,
.socialwrapper a:focus {
  background-color: var(--black);
  border-color: var(--black);
  transition-property: background-color, color;
  transition: var(--trns-fast);
  cursor: pointer;
}

.footerSvgLine {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}

.footerCopyParagraphs {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28571;
  opacity: 0.9;
  margin: 0;
}

.footerAgreements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.footerPolicy {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28571;
  text-decoration: none;
  transition: color 250ms var(--common-transition);
}
