:root {
  --primary-font: 'Manrope', sans-serif;
  --black: #121417;
  --iris: #0070b8;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --lighter-iris: #77accc;
  --gray: #f3f5f6;
  --white: #fff;
  --hover-iris: #0f5f90;
  --form-border: rgba(18, 20, 23, 0.1);
  --form-agreement-text: rgba(18, 20, 23, 0.5);
  --form-app-text: rgba(255, 255, 255, 0.7);
  --common-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  color: var(--black);
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%; 
  height: auto; 
  object-fit: cover; 
  display: block;
}

.button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 12px;
  padding: 14px 32px;
  border: none;
  transition: 250ms var(--common-transition);
  transition-property: background-color, color;
}

.button:hover,
.button:focus {
  background-color: var(--hover-iris);
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  opacity: 0;
  transform: translateY(20px);
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}